[Desktop Entry]
Type=Application
Exec=xdg-open /home/edgelake/Anylog/README.html
Hidden=false
X-GNOME-Autostart-enabled=true
Name=Startup Script and README
Comment=Runs Edgelake startup and opens README on login
